<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>scallop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/common.css" />
    <!-- <script src="./js/vue.js"></script> -->

</head>
<body>
    <!-- <div id="app">
        <span v-bind:title = "message">
            小手放上来！
        </span>
    </div> -->

    <!-- <div id="app">
        <p>{{message}}</p>
    </div>
    <button v-on:click="reverseMessage">Reverse Message</button> -->

    <!-- <div class="container">
        <div class="wrap" style="left:-600px;">
            <img src="./img/5.jpg" alt="">
            <img src="./img/1.jpg" alt="">
            <img src="./img/2.jpg" alt="">
            <img src="./img/3.jpg" alt="">
            <img src="./img/4.jpg" alt="">
            <img src="./img/5.jpg" alt="">
            <img src="./img/1.jpg" alt="">        
        </div>
        <div class="button">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
        </div>
        <a href="javascript:;" class="arrow arrow_left">&lt;</a>
        <a href="javascript:;" class="arrow arrow_right">&gt;</a>
    </div> -->

    <!-- <dvi id="app">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </dvi>

    <div id="parent">parent
        <div id="child">child</div>
    </div> -->

    <!-- <ul id="list">
        <li id="stu1">1</li>
        <li id="stu2">2</li>
        <li id="stu3">3</li> 
        <li id="stu4">4</li>
        <li id="stu5">5</li>
    </ul> -->

    <!-- <div id="app">
        <ul>
            <li v-for="(item,index) in stus" :class="item.myclass">学号：{{index}} 姓名：{{item.name}}</li>
        </ul>
        <ul>
            <li v-for="(val,key,index) in stus2">
                val:{{val}}
                key:{{key}}
                index:{{index}}
            </li>
        </ul>
        <h1 v-show = "isshow">1</h1>
        <h1 v-show = "isshow">2</h1>
        <h1 v-show = "isshow">3</h1>
        <h1 v-if = "isshow">4</h1>
        <button @click = "changeIsShow">点击更炫酷</button>
    </div> -->
    <div id="app"></div>

    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
    <script src="./js/scallop.js"></script>
</body>
</html>